.menu_btn{
    margin-bottom: 20px;
    width: 80%;
}

.fullheight {
    height: 100%;
}

.xc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }