<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Navigation Page</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="fullheight xc">
    <ion-button class="menu_btn" color="medium" [routerLink]="['/current-order']">
      Check Current Order
    </ion-button>
    
    <ion-button class="menu_btn" color="medium" [routerLink]="['/home']">
      Update Current Order
    </ion-button>
  
    <ion-button class="menu_btn" color="medium" [routerLink]="['/previous-orders']">
      Previous Orders
    </ion-button>
  
    <ion-button class="menu_btn" color="medium" (click)="newOrder()">
      New Order
    </ion-button>
  </div>
</ion-content>