<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Total Price is $ {{orderPrice}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title color="primary">Ordered {{orderQuantity}} Pizzas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar *ngIf="isCollapsed">
  <ion-button id="deleteButton" class="float-right" (click)="deleteOrder()" color="danger">Delete</ion-button>
</ion-toolbar>

<ion-content>
  <ion-grid>
    <ion-row *ngFor="let order of orders;let i=index">
      <ion-col>
        <ion-list>
          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>Topping: {{order.topping}}</ion-label>
                  <ion-label>Size: {{order.size}}</ion-label>
                </ion-col>
                <ion-col>
                  <ion-label>Price: {{order.price}}$</ion-label>
                  <ion-label>Quantity: {{order.quantity}}</ion-label>
                </ion-col>
                <ion-col>
                    <ion-button (click)="deleteOrder(order)">
                      <ion-icon name="trash"></ion-icon>
                    </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button color="success" (click)="placeOrder()">Place Order</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



