

/* Set the color on all ion-button elements */

.bold{
  font-weight: bold;
  font-size: large;
}

.listLbl{
  font-size:medium;
}

.lbl-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.num{
  background-color: lightgrey;
  border-radius: 10px;
}

