<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">Pizza App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-grid>

    <!-- LABEL AND MY ORDER BUTTON-->
    <ion-row>
      <ion-col size="4">
        <div>
          <ion-img src="https://images.freeimages.com/images/large-previews/fe9/pizza-1319976.jpg" alt="pizza logo"></ion-img>
        </div>
      </ion-col>
      
      <ion-col class="ion-align-self-center" offset="3">
        <div>
          <ion-button [routerLink]="['menu']">MY ORDER</ion-button>
        </div>
      </ion-col>
    </ion-row>

    <!-- QUANTITY LABEL-->
    <ion-row class="lbl-row">
      <ion-col size="4">
        <ion-label color="primary" class="bold">Quantity: </ion-label>
      </ion-col>
      
      <ion-col>
        <ion-text class="bold">{{quantity}}</ion-text>
      </ion-col>
    </ion-row>

    <!-- NUMBERS PAD-->
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(1)">
          1
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(2)">
          2
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(3)">
          3
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col> 
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(4)">
          4
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(5)">
          5
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(6)">
          6
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(7)">
          7
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(8)">
          8
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(9)">
          9
        </ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button color="danger" expand="block" (click)="resetOrder()">
          RESET
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="dark" fill="outline" expand="block" class="num" (click)="setQuantity(0)">
          0
        </ion-button>
      </ion-col>
      
      <ion-col>
        <ion-button color="success" expand="block" (click)="addOrder()">
          ADD
        </ion-button>
      </ion-col>
    </ion-row>

    <!-- TOPPINGS LIST-->
    <ion-row class="lbl-row">
      <ion-col size="6">
        <ion-label color="primary" strong="true" class="bold">Topping: </ion-label>
        <ion-text class="bold">{{topping}}</ion-text>
        <ion-list>
          <ion-item *ngFor="let topping of pizzaToppings">
            <ion-label (click)="selectTopping(topping)">
              {{topping.name}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- SIZES LIST-->
      <ion-col size="6">
        <ion-label color="primary" strong="true" class="bold">Size: </ion-label>
        <ion-text class="bold">{{size}}</ion-text>
        <ion-list>
          <ion-item *ngFor="let size of pizzaSizes">
            <ion-label (click)="selectSize(size)">
              {{size.name}}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-content>




